<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
      <add assembly="Graylog.Target" />
    </extensions>

    <targets>
      <target name="console" xsi:type="ColoredConsole"
              layout="${longdate}|${level:uppercase=true}|${logger}|${machinename}|${message}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
      <target name="graylog" xsi:type="graylog" hostip="localhost" hostport="12201" facility="graylog.consoleRunner" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,graylog" />
    </rules>
  </nlog>
</configuration>